<html>

<head>
	<title>
		Websectra (Blog)
	</title>
</head>

<!--Initialising css folders-->
<link rel="stylesheet" href="css/extra.css">
<link rel="stylesheet" href="css/materialize.min.css">

<!--Initialising javascript folders-->
<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
<script src="js/materialize.min(1).js"></script>

<!--Initialising icon font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--Styling tags-->
<style>
h1,h5
{
font-family:Freestyle Script
}
h3,h4
{
font-family:centaur
}
#content
{
padding:80;
padding-top:0
}
</style>
<!--Initialisations end-->

<body>

<!--Navbar begins-->
<div id="logo" class="navbar center">
	<nav class="z-depth-1">
		<div class="teal lighten-1 row white-text" style="font-size:35px">
			<div class="col s2 offset-s5">WEBSECTRA</div>
			<img class="col s1" src="Blog.png" style="margin-top:10">
		</div>
	</nav>
</div>
<!--Navbar end-->

<!--Body of the page begins-->
<div class="center">
	<h1>Blog Header</h1>
	<h5>-Credit</h5>
	<div id="content">
		<p><h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla nulla ante, at posuere mauris euismod ut. Phasellus dignissim sodales magna, sed luctus ipsum auctor eget. In commodo fringilla elementum. Nunc ornare dolor tellus, bibendum ultrices leo condimentum vel. Maecenas vehicula lectus vitae dolor fringilla vestibulum. Nullam eu odio rutrum, pulvinar neque et, lacinia dolor. In et mattis nulla. Morbi a enim lorem. In vestibulum massa at ipsum rhoncus, eu consequat ex laoreet.</h4></p>
	</div>
</div>
<!--Body of the page ends-->

</body>
</html>