<html>

<head>
	<title>
		Websectra
	</title>
</head>

<!--Initialising css folders-->
<link rel="stylesheet" href="/static/css/extra.css">
<link rel="stylesheet" href="/static/css/materialize.min.css">

<!--Initialising javascript folders-->
<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/js/materialize.min.1.js"></script>
<script src="/static/js/extra.js"></script>

<!--Initialising icon font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--Styling header tags-->
<style>
h1,h2,h3,h4,h5,h6{
font-family:Freestyle Script
}
</style>
<!--Initialisations end-->

<body>
<!--Top Navbar begins-->
<div id="logo" class="navbar center">
	<nav class="teal lighten-1 z-depth-1">
		<div class="row white-text" style="font-size:35px">
			<div class="col s2 offset-s5">WEBSECTRA</div>
			<img class="col s1" src="/static/Blog.png" style="margin-top:10">
		</div>
	</nav>
</div>
<!--Top Navbar end-->

<!--Body of the page begins-->
<div class="row">

<!--Navbar with tabs begins-->
	<div class="col s12" style="padding:0">
		<nav  id="fixednav" class="z-depth-1 white">
			<ul class="tabs row">
				<li class="tab col s6 " ><a class="active black-text" href="#profile">Profile</a></li>
				<li class="tab col s6" ><a class="black-text" href="#favorites">Favorites</a></li>
			</ul>
		</nav>
	</div>
<!--Navbar with tabs ends-->
  
<!--Body for PROFILE Tab begins-->
	<div  id="profile" class="col s12">
		<div class="row">
			<div class="center">
				<h1>Welcome {{ name }}!!</h1>
				<hr>
			</div>
			
			<h2 align="center">Here are the Blogs you posted:</h2>
			{% for posts in current_posts %}
			<div class="col s12">
				<a href="">
					<div class="card z-depth-2">
						<div class="card-content black-text">
							<h4>{{ posts[1] }}</h4>
							<p>{{ posts[2] }}</p>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>

<!--Floating Button for Adding Blog begins-->
		<div class="fixed-action-btn modal-trigger tooltipped" data-position="right" data-delay="50" data-tooltip="Add Blog"  href="#addblog" style="bottom: 14px; right: 1270px">
			<a class="btn-floating btn-large ">
				<i class="large material-icons">add</i>
			</a>
		</div>
		<div class="fixed-action-btn" style="bottom: 14px; ">
			<a class="btn-floating btn-large ">
				<i class="large material-icons">edit</i>
			</a>
			<ul>
				<li><a class="btn-floating blue tooltipped modal-trigger" data-position="left" data-delay="50" data-tooltip="Edit Password" href="#editpwd"><i class="large mdi-editor-insert-chart"></i></a></li>
				<li><a class="btn-floating yellow darken-1 tooltipped modal-trigger" data-position="left" data-delay="50" data-tooltip="Edit Profile" href="#editprofile"><i class="large mdi-editor-format-quote"></i></a></li>
			</ul>
		</div>
<!--Floating Button for Adding Blog ends-->

<!--Modal definition for Floating Buttons begins-->
		<div id="addblog" class="modal">
			<div class="modal-content center black-text">
				<h2>Add Blog</h2>
				<form method="post" action="/postblog">
					<div class="row">
						<div class="input-field col s10 offset-s1">
							<input type="text" id="title" name="title" class="validate" >
							<label for="title">Blog Title</label>
						</div>
						<div class="input-field col s10 offset-s1">
							<textarea id="blog" name="content" class="materialize-textarea"></textarea>
							<label for="blog">Add Content</label>
						</div>
					</div>
					<div class="row">
						<button class="btn large waves-effect waves-light col s2 offset-s5" type="submit" name="action">Submit
						<i class="mdi-content-send right"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
		
		<div id="editprofile" class="modal">
			<div class="modal-content center black-text">
				<h2>Edit Profile</h2>
				<form method="post" action="/edit/name">
					<div class="row">
						<div class="input-field col s10 offset-s1">
							<input type="text" id="name" name="param" class="validate" >
							<label for="naame">Enter New Name</label>
						</div>
					</div>
					<br>
					<div class="row">
						<button class="btn large waves-effect waves-light col s2 offset-s5" type="submit" name="action">Submit
						<i class="mdi-content-send right"></i>
						</button>
					</div>
				</form>
			</div>
		</div>

		<div id="editpwd" class="modal">
			<div class="modal-content center black-text">
				<h2>Edit Password</h2>
				<form class="col s12" action="/edit/password" method="post" autocomplete="off">
					<div class="row">
						<div class="input-field col s10 offset-s1">
							<input type="text" id="id" name="param" class="validate" >
							<label for="id">Enter New Password</label>
						</div>
						<div class="input-field col s10 offset-s1">
							<input type="password" id="pw" name="param2" class="validate" >
							<label for="pw">Confirm New Password</label>
						</div>
					</div>
					<br>
					<div class="row">
						<button class="btn large waves-effect waves-light col offset-s5" style="margin-top:3%" type="submit" name="action">Submit
						<i class="mdi-content-send right"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
<!--Modal definition for Floating Buttons ends-->

	</div>
<!--Body for PROFILE Tab ends-->

<!--Body for FAVORITES Tab begins-->
	<div  id="favorites" class="col s12"  style="padding:0">
		<div class="row">
		
<!--SideNav begins-->
			<div id="sidenav" class="col s2" style="padding:0">
				<div class="card col s12 " style="padding:0;height:100%;margin-top:0">
					<ul class="collapsible" data-collapsible="accordion">
						<li>
							<div class="collapsible-header"><i class="mdi-content-send"></i>Category 1</div>
							<div class="collapsible-body"><a href=""><p>x posts available</p></a></div>
						</li>
						<li>
							<div class="collapsible-header"><i class="mdi-content-send"></i>Category 2</div>
							<div class="collapsible-body"><a href=""><p>x posts available</p></a></div>
						</li>
						<li>
							<div class="collapsible-header"><i class="mdi-content-send"></i>Category 3</div>
							<div class="collapsible-body"><a href=""><p>x posts available</p></a></div>
						</li>
						<li>
							<div class="collapsible-header modal-trigger" href="#category"><i class="mdi-content-send"></i>Add Category</div>
						</li>
					</ul>
				</div>
			</div>
<!--SideNav ends-->

<!--Modal for Adding Category begins-->
			<div id="category" class="modal">
				<div class="modal-content center black-text">
					<h2>Add Category</h2>
					<form>
						<div class="input-field col s12">
							<select>
								<option value="" disabled selected>Select Category</option>
								<option value="" data-icon="icon.png" class="left circle">Category 4</option>
								<option value="" data-icon="icon.png" class="left circle">Category 5</option>
								<option value="" data-icon="icon.png" class="left circle">Category 6</option>
							</select>
						 </div>
						 <br><br><br><br><br><br><br><br>
						<div class="row">
							<button class="btn large waves-effect waves-light col s2 offset-s5" type="submit" name="action">Submit
								<i class="mdi-content-send right"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
<!--Modal for Adding Category ends-->

<!--Content below Navbar begins-->
			<div id="content" class="col s10" style="padding:0">
				<div class="row">
				{% for posts in another_posts %}
					<div class="col s12">
						<a href="">
							<div class="card z-depth-2">
								<div class="card-content black-text">
									<h4>{{ posts[1] }}</h4>
									<p>{{ posts[2] }}</p>
								</div>	
							</div>
						</a>
					</div>
				{% endfor %}
					
					
				</div>
			</div>
<!--Content below Navbar ends-->

		</div>
	</div>
<!--Body for FAVORITES Tab begins-->

</div>
<!--Body of the page begins-->
 
</body>

</html>
